.box {
 background-color: red; 
 max-width: 1000px; 
 min-height: 1000px;
 margin: 0px: 0px: 0px: 10px;
 padding: 10px:10px:10px:10px;
}

.container  p {
 height: 140px;
 margin: 20px 10px;
 padding: 10px;
 color :blue;
}
#x {
 color :red;
}

.ciccio